<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>BedyAPI - {{data.summonerName}}</title>
</head>

<body>

    <style>
        /* body { background-color: black; margin: 0px auto; overflow: hidden; color: white; } */
        body {
            overflow: hidden;
            color: white;
            background-color: rgba(0, 0, 0, 0);
        }
    </style>

    <style>
        /* 290 / 300 / 280 */
        #api {
            min-width: 300px;
            width: 325px;
            height: 145px;
        }

        /* Rank Tiers */
        #api #rankInfo {
            font-size: 18px;
        /*    text-align: center; */
        }

        #api #rankInfo {
            font-weight: bold;
            text-transform: uppercase;
        }

        #api #userInfo {
            padding-top: 5px;
            padding-left: 20px;
            align-self: center !important;
        }

        /*
            Rank Color
        */
        #api #rankInfo .iron {
            color: #605252;
        }

        #api #rankInfo .bronze {
            color: #7D3B2A;
        }

        #api #rankInfo .silver {
            color: #727F85;
        }

        #api #rankInfo .gold {
            color: #DBB841;
        }

        #api #rankInfo .platinum {
            color: #78CEB4;
        }

        #api #rankInfo .diamond {
            color: #A2B6D4;
        }

        #api #rankInfo .master {
            color: #964890;
        }

        #api #rankInfo .grandmaster {
            color: #BD686A;
        }

        #api #rankInfo .challenger {
            color: #D1BC62;
        }

        /* WinRate */
        #userInfo #series .green {
            color: green;
        }

        #userInfo #series .red {
            color: red;
        }

        #userInfo #series .gray {
            color: lightgray;
        }

        #userInfo #winRate .cyan {
            color: cyan;
        }

        #userInfo #winRate .orange {
            color: orange;
        }

        #userInfo #queue {
            text-shadow: rgba(0, 0, 0, 0.63) 0.0625rem 0.0625rem 0.03125rem;
        }

        /* Align / Margin */
        #api #rankInfo .noPad {
            padding-left: 0;
            padding-right: 0;
        }

        #api img.icon {
            height: 140px;
            /* 160 */
        }
    </style>

    <div class="container" id="api">

        <div class="row" id="rankInfo">

            <div class="col-md-5 col-5">
                <div class="row" id="summonerIcon">
                    <img class="rounded mx-auto d-block icon" src="{{data.image.src}}" alt="{{data.image.alt}}" />
                </div>
            </div>

            <div class="col-md-7 col-7" id="userInfo">
                <div class="row" id="rankInfo">
                    <span class="col-12 {{data.rank.colorRank}} rankColor noPad">
                        {{data.rank.tier}} {{data.rank.rank}}
                        <span class="lp"> - {{data.rank.lp}} LP</span>
                    </span>
                </div>

                <div class="row" id="QueueSeries">
                    <div id="queue" class="col-3 left noPad">
                        {{data.queue}}
                    </div>

                    {{#if data.stats.series.enabled}}
                    <div id="series" class="col-7 left">
                        {{#each data.stats.series.result}}
                        <span class="{{color}}">{{value}}</span>
                        {{/each}}
                    </div>
                    {{/if}}
                </div>

                <!-- no-gutters -->
                <div class="row" id="stats" class="statsSize">
                    <div class="col-12 left noPad" id="winRate">
                        <span class="cyan">
                            {{data.stats.wins}}W / {{data.stats.looses}}L
                        </span>
                        &nbsp;
                        <span class="orange"><i>({{data.stats.ratio}} %)</i></span>
                    </div>
                </div>
            </div>


        </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>